*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}
body{
    background-color: #222222;
    color: white;
    
}
h1{
   text-align: center;
   margin: 100px auto 20px;
   font-size: 50px;
}
.search-box{
    display: flex;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.19);
    width: 25vw;
    margin: 50px auto 20px;
    gap: 10px;
    border-radius: 30px;
}
.search-box input{
    flex:1;
    background-color: rgba(82, 82, 82, 0);
    border: none;
    padding: 40px;
    outline: 0;
    font-size: 29px;
    font-weight: 300;
    color: white;
}
.search-box button{
    padding: 27px 27px;
    border-radius: 0 30px 0 30px;
    background-color: #bb3e1f;
    outline: none;
    border: none;
    cursor: pointer;
}
input::placeholder{
    color: white;
    font-size: 21px;
    font-weight: 600;
}
.search-box button:hover{
    background-color: #e84f29;
}
.search-box button img{
    filter: invert(100%) brightness(100%)

}
#show-more{
    display:none;
    margin: 62px auto 100px;
    padding: 20px 53px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    cursor: pointer;
}
#show-more:hover{
    background-color: #d7350d;
    color: white;
}
.grid{
    width: 80vw;
    margin: 100px auto 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
}
.grid img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
@media only screen and (max-width:430px){
    h1{
        font-size: 27px;
        margin-bottom: 50px;
    }
    .search-box{
        margin: 30px auto 0px;
        gap:0px;
        border-radius:20px;
        width: 200px;
    }
    .search-box input{
        flex:0;
        padding: 0px;
        font-size: 17px;
        text-align: center;
        width: 140px;
    }
    .search-box button{
        padding: 10px 10px;
        border-radius: 0 20px 0 20px;
    }
    .grid{
        grid-template-columns: 1fr 1fr;
        gap:20px;
        margin-top: 60px;
    }
    .grid img{
        height: 200px;
        width: 38vw;
    }
    input::placeholder{
        color: white;
        font-size: 15px;
        font-weight:200;
        
    }
    #show-more{
        margin: 40px auto 60px;
        padding: 15px 35px;
        font-size: 16px;
    }
}
